.no-border-radius {
    border-radius: 0px;
}

.contenido {
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    padding: 5%;
}

.error {
    color: red;
    font-weight: bold;
    display: none;
}

.fondo-coloreado {
    background-color: #f6b315;
}

.linea-separadora {
    margin-top: 30px;
}

/* ESTILOS DEL LOGIN */
.contenido-login {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}

#loginLogo {
    max-width: 75px;
}

.btn-general {
    width: 100%;
    background-color: #f6b315;
}

    .btn-general:hover {
        background-color: #dda113;
        color: white;
    }

@media (max-width: 768px) {
    .contenido-login {
        margin-top: 25px;
    }
}

#homeLogo {
    max-width: 123525px;
    height: 198px;
    width: 153px;
}


/* Barra de navegacion */
.navbar-naranja {
    background-color: #f6b315;
}

    .navbar-naranja > a {
        color: #000000;
    }

        .navbar-naranja > a:hover {
            color: #808080
        }

.logo-navbar {
    height: 25px;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}

/* Footer */
.footer {
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 8%;
    padding: 13px;
}

#header {
    height: 30%;
}

/* Ultima conexion y nombre de usuario */
.info {
    text-align: right;
    font-size: 12px;
    padding: 10px;
}

.titulo-home > h3 {
    font-weight: bold;
}

#homeSoloTexto {
    margin: 0px;
    height: 70px;
}

/* Link del footer */
.link-info {
    color: #000000;
    margin: 20px;
}

    .link-info:hover {
        color: #ac7a06;
        text-decoration: none;
    }


.gradient-border {
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
}

    .gradient-border:after {
        content: '';
        position: absolute;
        top: calc(-1 * var(--borderWidth));
        left: calc(-1 * var(--borderWidth));
        height: calc(100% + var(--borderWidth) * 2);
        width: calc(100% + var(--borderWidth) * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        -webkit-animation: animatedgradient 3s ease alternate infinite;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
    }


@-webkit-keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.msg-grupo{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

/* Indicadores del carousel */
.indicador {
    background-color: #ff0000 !important;
}

.indicador:active {
    background-color: #ff6666 !important;
}
.indicador:hover{
    cursor: pointer;
}

/* Formulario de sanciones */
.titulo-formulario {
    color: #ff0000;
    text-align: center;
}

.contenido-centrado {
    width: 100%;
    padding-right: 190px;
    padding-left: 190px;
    margin-right: auto;
    margin-left: auto;
}