.no-border-radius {
    border-radius: 0px;
}

.contenido{
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    padding: 5%;
}

.error {
    color: red;
    font-weight: bold;
    display: none;
}

.fondo-coloreado {
    background-color: #f6b315;
}

.linea-separadora {
    margin-top: 30px;
}

/* ESTILOS DEL LOGIN */
.contenido-login {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}

#loginLogo {
    max-width: 75px;
}

.btn-general {
    width: 100%;
    background-color: #f6b315;
}

.btn-general:hover {
    background-color: #dda113;
    color: white;
}

@media (max-width: 768px) {
    .contenido-login {
        margin-top: 25px;
    }
}

#homeLogo {
    max-width: 123525px;
    height: 198px;
    width: 153px;
}